# ============================================================
# Frontend Environment Variables — Desa Pringgodani
# ============================================================

# URL backend API (Next.js serverless web-desa)
NEXT_PUBLIC_API_URL="http://localhost:3000/api"

# Google Maps API Key (Ganti dengan API Key milik Anda)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="YOUR_GOOGLE_MAPS_API_KEY_HERE"